



/* | Defaults ---------------------------------------- | */

/* | - Containers ------------------------------------ | */
	
	.flexR, .flexRR, .flexC, .flexCR, .flexR-W, .flexRR-W, .flexC-W, .flexCR-W, .flexR-WR, .flexRR-WR, .flexC-WR, .flexCR-WR 
		{
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
		}
		
	/* 
	|	Default Property Values:
	|	flex-flow: row nowrap;
	|	justify-content: flex-start;
	|	align-content:	stretch;
	|	align-items: stretch;
	*/

/* | - Items ----------------------------------------- | */

	.flexi {
		flex: auto;
		order: 0;
	}

/* | Flex-Flow Variants for Containers --------------- | */

	/*| (Default) ----------- |*/
		.flex {

		}

	/*| Flex Direction - Row (Default) ----------- |*/
		[class*="flex"][class*="-R"] {
			flex-direction: row;
		}

	/*| Flex Direction - Row Reverse ----------- |*/
		[class*="flex"][class*="-RR"] {
			flex-direction: row-reverse;
		}

	/*| Flex Direction - Column ----------- |*/
		[class*="flex"][class*="-C"] {
			flex-direction: column;
		}

	/*| Flex Direction - Column Reverse ----------- |*/
		[class*="flex"][class*="-CR"] {
			flex-direction: column-reverse;
		}

	/*| Flex Wrap - No Wrap (Default) ----------- |*/
		[class*="flex"][class*="-NW"] {
			flex-wrap: nowrap;
		}

	/*| Flex Wrap - Wrap ----------- |*/
		[class*="flex"][class*="-W"] {
			flex-wrap: wrap;
		}

	/*| Flex Wrap - Wrap Reverse ----------- |*/
		[class*="flex"][class*="-WR"] {
			flex-wrap: wrap-reverse;
		}

/* | Alignment/Justification Variants for Containers - | */

	/*| (Default) ----------- |*/
		.flexi {
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
		}

	/*| Justify Content - Flex Start (Default) ----------- |*/
		[class*="flexi"][class*="-j"] {
			justify-content: flex-start;
		}

	/*| Justify Content - Flex End ----------------------- |*/
		[class*="flexi"][class*="-jE"] {
			justify-content: flex-end;
		}

	/*| Justify Content - Center ------------------------- |*/
		[class*="flexi"][class*="-jC"] {
			justify-content: center;
		}

	/*| Justify Content - Space Between ------------------ |*/
		[class*="flexi"][class*="-jSB"] {
			justify-content: space-between;
		}

	/*| Justify Content - Space Around ------------------- |*/
		[class*="flexi"][class*="-jSA"] {
			justify-content: space-around;
		}

	/*| Justify Content - Space Evenly ------------------- |*/
		[class*="flexi"][class*="-jSE"] {
			justify-content: space-evenly;
		}

	/*| Align Content - Stretch (Default) ---------------- |*/
		[class*="flexi"][class*="-ac"] {
			align-content: stretch;
		}

	/*| Align Content - Flex Start ----------------------- |*/
		[class*="flexi"][class*="-acS"] {
			align-content: flex-start;
		}

	/*| Align Content - Flex End ------------------------- |*/
		[class*="flexi"][class*="-acE"] {
			align-content: flex-end;
		}

	/*| Align Content - Center --------------------------- |*/
		[class*="flexi"][class*="-acC"] {
			align-content: center;
		}

	/*| Align Content - Space Between -------------------- |*/
		[class*="flexi"][class*="-acSB"] {
			align-content: space-between;
		}

	/*| Align Content - Space Evenly --------------------- |*/
		[class*="flexi"][class*="-acSE"] {
			align-content: space-evenly;
		}

	/*| Align Items - Stretch (Default) ------------------ |*/
		[class*="flexi"][class*="-ai"] {
			align-items: stretch;
		}

	/*| Align Items - Flex Start ------------------------- |*/
		[class*="flexi"][class*="-aiS"] {
			align-items: flex-start;
		}

	/*| Align Items - Flex End --------------------------- |*/
		[class*="flexi"][class*="-aiE"] {
			align-items: flex-end;
		}

	/*| Align Items - Center ----------------------------- |*/
		[class*="flexi"][class*="-aiC"] {
			align-items: center;
		}

	/*| Align Items - Baseline --------------------------- |*/
		[class*="flexi"][class*="-aiB"] {
			align-items: baseline;
		}











































